.image-surprise {
  border: solid 4px black;
  margin: 10px;
}

.recipe-title-surprise {
  backdrop-filter: blur(1.5px);
  color: brown;
  font-family: Cookie , sans-serif;
  font-size: 50px;
  margin: 10px;
  text-align: left;
}

.category-surprise {
  backdrop-filter: blur(1.5px);
  color: rgb(14, 2, 2);
  font-family: Montserrat , Helvetica , Arial , sans-serif;
  font-size: 20px;
  margin: 10px;
  text-align: left;
}

.ul-ingredients {
  backdrop-filter: blur(1px);
  color: rgb(14, 2, 2);
  font-family: Montserrat , Helvetica , Arial , sans-serif;
  margin: 10px;
}

.paragrafo-details {
  color: rgb(14, 2, 2);
  font-family: Montserrat , Helvetica , Arial , sans-serif;
  margin: 10px;
}

.card {
  background-color: rgba(240, 255, 255, 0.735);
  border-radius: 20px;
  margin: 5px;
  padding: 5px;
  text-align: center;
}

.img-card-recommendation {
  border-radius: 30px;
}

.p-card-recommendation {
  font-family: Montserrat , Helvetica , Arial , sans-serif;
}


/* teste */
