.div-principal-details {
  display: inline;
  justify-content: left;
}

.image-surprise {
  border: solid 4px black;
  margin: 15px;
}

.recipe-title-surprise {
  backdrop-filter: blur(1.5px);
  color: brown;
  font-family: Cookie , sans-serif;
  font-size: 50px;
  margin: 15px;
  text-align: left;
}

.category-surprise {
  backdrop-filter: blur(0.5px);
  color: black;
  font-family: Montserrat , Helvetica , Arial , sans-serif;
  font-size: 20px;
  margin: 15px;
  text-align: left;
}

.ul-ingredients {
  backdrop-filter: blur(4px);
  color: rgb(14, 2, 2);
  font-family: Montserrat , Helvetica , Arial , sans-serif;
  margin: 15px;
}

.paragrafo-details {
  backdrop-filter: blur(3px);
  color: rgb(14, 2, 2);
  font-family: Montserrat , Helvetica , Arial , sans-serif;
  margin: 20px;

}

.card {
  background-color: rgba(240, 255, 255, 0.735);
  border-radius: 20px;
  margin: 15px;
  padding: 5px;
  text-align: center;
}

.img-card-recommendation {
  border-radius: 30px;
}

.p-card-recommendation {
  font-family: Montserrat , Helvetica , Arial , sans-serif;
}

.fixed-btn {
  background: linear-gradient(117deg, rgb(254, 145, 80), rgb(254, 100, 70));
  border: none;
  border-radius: 30px;
  color: white;
  cursor: pointer;
  font-family: inherit;
  font-size: 10px;
  font-weight: 600;
  margin: 11px;
  padding: 18px;
  text-transform: uppercase;
  transition: box-shadow 0.25s ease 0s;
}

.fixed-btnhover, .fixed-btn:focus {
  background: linear-gradient(117deg, rgb(248, 137, 73), rgb(248, 82, 49));
  box-shadow: 0 0.1rem 0.8rem rgb(254, 100, 70);
}

.icons2 {
  align-items: center;
  display: flex;
}
