@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap') ;

.done-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5px;
}

.card-item-done {
  background-color: rgba(240, 255, 255, 0.735);
  border-radius: 20px;
  margin: 5px;
  padding: 20px;
  text-align: center;
  width: 100%;
}

.card-item-done img {
  border-radius: 20px;
}

.description {
  font-family: Satisfy , sans-serif;
  font-size: 16pt;
}

.icons {
  align-items: center;
  display: flex;
  justify-content: center;
}


.favotite-btn {
  background: linear-gradient(117deg, rgb(254, 145, 80), rgb(254, 100, 70));
  border: 0;
  border-radius: 40px;
  margin: 5px 7px;
  padding: 2px;
  /* padding-right: 5px; */
}

.card-item-p-2 {
  color: rgb(155, 6, 6);
  font-family: Sawarabi Mincho , sans-serif;
  font-size: 13pt;
  font-style: none;
  text-decoration: underline white;
}
