.princial-explore {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 30px;
}


.botton-explore {
  background-color: #02a791;
  border: 2px dashed #009682;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px , rgba(0, 0, 0, 0.3) 0 1px 3px -1px;
  color: white;
  cursor: pointer;
  letter-spacing: 2px;
  margin: 10px;
  padding: 14px 40px;
  text-transform: uppercase;
  transition: 0.4s;
}

.botton-explore span:last-child {
  display: none;
}

.botton-explore:hover {
  background-color: rgb(151, 8, 8);
  border: 2px dashed black;
  color: white;
  transition: 0.4s;
}

.botton-explore:active {
  background-color: #87dbd0;
}
