@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Sawarabi+Mincho&display=swap') ;

.foods-title {
  color: #132048;
  font-family: Cookie , sans-serif;
  font-size: 80pt;
  font-weight: 200;
  margin: 10px;
  text-align: center;
}

.profile-path {
  background-color: #ae9292;
  border-radius: 20px;
  box-shadow: 5px 2px 5px 2px rgba(0, 0, 0, 0.439);
  margin: 10px;
  padding: 10px;
}

.profile-path:hover {
  background-color: wheat;
}
